[submodule "coro-http"]
	path = contrib/coro-http
	url = https://github.com/lemourin/coro-http.git
[submodule "contrib/json"]
	path = contrib/json
	url = https://github.com/ArthurSonzogni/nlohmann_json_cmake_fetchcontent
[submodule "contrib/megasdk"]
	path = contrib/megasdk
	url = https://github.com/meganz/sdk
[submodule "contrib/cryptopp"]
	path = contrib/cryptopp
	url = https://github.com/weidai11/cryptopp
[submodule "contrib/pugixml"]
	path = contrib/pugixml
	url = https://github.com/zeux/pugixml
[submodule "contrib/ffmpeg"]
	path = contrib/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "contrib/zlib-ng"]
	path = contrib/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng
